.title{
    color: rgb(88, 87, 87);
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    border-bottom: 5px solid rgb(88, 87, 87);
    text-shadow: 0px, 3px, 10px, rgba(0, 0, 0, 0.664);
}


.wrapAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapAll p{
    color: rgb(171, 111, 199);
    padding: 11px 120px;
    border-radius: 20px;
    font-size: 22px;

}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapResp {
    background-color: rgb(255, 250, 254);
    color: rgb(80, 79, 79);
    padding: 20px;
    border-radius: 14px;
    width: 400px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.185);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.wrapResp h2{
    font-size: 32px;
    color: rgb(88, 87, 87);
}

.wrapResp h3{
    font-size: 28px;
    color: rgb(221, 69, 196);
}